@import url('./meyerreset2.scss');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1;  }
}

body {
    font-family: 'Montserrat', sans-serif;
    h1 {
        font-weight: 700;
    }
}

.blog {
    min-height: 100vh;

    header, section {
        section {
            margin: 0 5vw;
        }
    }

    header {
        margin-top: 15vh;

        h1 {
            font-size: 2em;
        }
    }


}

.render-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}