@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.blog-article {
    text-align: center;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;

    em {
        font-style: italic;
    }

    sub {
        vertical-align: sub;
        font-size: smaller;
    }

    sup {
        vertical-align: super;
        font-size: smaller;
    }

    .equation {
        white-space: nowrap;
    }

    > header {
        padding-top: 5vw;

        h1 {
            font-size: 3em;
        }

        > section > h1 {
            font-size: 2em;
        }
    }

    > section {
        margin-top: 1.5em;

        h1 {
            font-size: 2em;
            margin-top: 0.7em;
        }

        > section {
            margin-bottom: 0.7em;

            > h1 {
                font-size: 1.5em;
                margin-top: 0.7em;
                margin-bottom: 0.3em;
            }
        }
    }

    > header,
    > section {
        text-align: left;
        margin: 0 auto;
        width: 80vw;

        > img {
            margin-left: -3vw;
            margin-bottom: 0.7em;
            width: 86vw;
            max-height: 40vw;
        }

        > h1 {
            margin-bottom: 0.3em;
        }

        > h2 {
            font-size: 1.5em;
            margin-top: 1em;
            margin-bottom: 0em;
        }

        canvas.inline {
            margin-left: -3vw;
            margin-bottom: 0.7em;
            width: 86vw;
            box-sizing: border-box;
        }

        aside {
            &.inline {
                margin-left: -1.5vw;
                margin-bottom: 0.7em;
                width: 83vw;
                padding: 1.5vw;
                box-sizing: border-box;

                h1 {
                    font-size: 1.25em;
                    font-weight: 700;
                    margin-bottom: 0.3em;
                }

                dl {
                    dt {
                        line-height: 1.4em;
                        margin-top: 0.3em;
                        font-style: italic;
                        font-weight: 700;
                    }

                    dd {
                        line-height: 1.4em;
                        font-family: 'Inconsolata', monospace;
                        margin-left: 0.8em;
                    }
                }

                &.warning {
                    border: 1px solid black;
                    background: yellow;
                    color: black;
                }

                &.algorithm {
                    border: 1px solid black;
                    background: lime;
                    color: black;
                }

                &.emphasis {
                    border: 1px solid black;
                    background: white;
                    color: black;
                }
            }
        }
    }

    header, section {
        > ol, > ul {
            margin-left: 2em;
            margin-top: 0.7em;
            margin-bottom: 0.7em;
            line-height: 1.4em;

            ol, ul {
                margin-left: 2em;
            }

            dl {
                > dt {
                    display: inline;

                    &:after {
                        display: inline;
                        content: ': ';
                    }
                }

                > dd {
                    display: inline;
                }
            }
        }

        > ol {
            > li {
                list-style-type: decimal;
            }

            &.table-of-contents > li {
                list-style-type: upper-roman;
            }

            > li > ol > li {
                list-style-type: lower-alpha;
            }
        }

        ul > li {
            &:before {
                display: inline;
                content: "-";
                margin-right: 1em;
            }
        }

        > table {
            width: 100%;
            max-width: 75vw;
            margin: 0.7em 1em;
            line-height: 1.4em;

            thead {
                text-decoration: underline;
            }

            &.half-split {
                tr, thead {
                    td {
                        width: 50%;
                        position: relative;
                    }

                    td:first-child {
                        border-right: 0.7em solid transparent;
                    }

                    .img-wrap {
                        img {
                            display: block;
                            width: 100%;
                        }

                        &.contain {
                            img {
                                position: absolute;
                                left: 0;
                                right: 0;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

    p {
        &:not(:last-child) {
            margin-bottom: 0.7em;
        }

        line-height: 1.4em;
    }
}

.render-view {
    //display: none !important;
}
