@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.blog-article {
    text-align: center;
    font-size: 2vw;
    font-family: 'Source Sans Pro', sans-serif;

    em {
        font-style: italic;
    }

    sub {
        vertical-align: sub;
        font-size: smaller;
    }

    sup {
        vertical-align: super;
        font-size: smaller;
    }

    .equation {
        white-space: nowrap;
    }

    > header,
    > section {
        text-align: left;
        margin: 0 auto;
        width: 80vw;
        border: 2px solid rgba(0, 0, 0, 1);

        > img {
            margin-left: -3vw;
            margin-bottom: 0.7em;
            width: 86vw;
            max-height: 40vw;
        }

        > h1 {
            margin-bottom: 0.3em;
        }

        canvas.inline {
            margin-left: -3vw;
            margin-bottom: 0.7em;
            width: 86vw;
            box-sizing: border-box;
        }

        aside {
            &.inline {
                margin-left: -1.5vw;
                margin-bottom: 0.7em;
                width: 83vw;
                padding: 1.5vw;
                box-sizing: border-box;

                h1 {
                    font-size: 1.25em;
                    font-weight: 700;
                    margin-bottom: 0.3em;
                }

                dl {
                    dt {
                        line-height: 1.4em;
                        margin-top: 0.3em;
                        font-style: italic;
                        font-weight: 700;
                    }

                    dd {
                        line-height: 1.4em;
                        font-family: 'Inconsolata', monospace;
                        margin-left: 0.8em;
                    }
                }

                &.warning {
                    border: 1px solid black;
                    background: yellow;
                    color: black;
                }

                &.algorithm {
                    border: 1px solid black;
                    background: lime;
                    color: black;
                }
            }
        }
    }

    p {
        &:not(:last-child) {
            margin-bottom: 0.7em;
        }

        line-height: 1.4em;
    }

    ol, ul {
        margin: 0.7em 2em;
        line-height: 1.4em;
    }

    ol > li {
        list-style-type: decimal;
    }

    ul > li {
        &:before {
            display: inline;
            content: "-";
            margin-right: 1em;
        }
    }

    > header {
        padding-top: 5vw;

        h1 {
            font-size: 3em;
        }

        > section > h1 {
            font-size: 2em;
        }
    }

    > section {
        margin-top: 1.5em;

        h1 {
            font-size: 2em;
        }

        > section > h1 {
            font-size: 1.5em;
            margin-bottom: 0.3em;
        }
    }
}

.render-view {
    //display: none !important;
}
